<div ng-show="newpage.creatable" flex layout="row" style="height: 100%; padding: 5px; margin-top: 10px;">
    <div id="left_editor" flex="40">
        <div flex="initial" style="margin-top: 10px;">
            <md-input-container md-no-float class="md-block">
                <input ng-model="newpage.title" placeholder="Sayfa Başlığı">
            </md-input-container>
        </div>
        <div flex="initial" style="padding-left: 2px; padding-right: 2px; margin-top: 10px;">
            <md-input-container class="md-block" style="background-color: #d3d3d3; height: 100%; margin: unset; padding: unset; border-top: 1px solid #a4a4a4">
                <label>Yorum Yaz</label>
                <textarea title="write comment" ng-model="newpage.input.body" style="min-height: 140px; max-height: 140px;" rows="5" md-select-on-focus ></textarea>
            </md-input-container>
        </div>
        <div flex="initial" style="margin-top: 20px;">
            <md-input-container>
                <label>Elementi Seç</label>
                <md-select ng-model="newpage.input.name" >
                    <md-option ng-repeat="element in newpage.element_types" ng-value="element.name" ng-selected="$first">
                        {{element.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="newpage.input.attr1" placeholder="Attribute 1">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="newpage.input.attr2" placeholder="Attribute 2">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="newpage.input.attr3" placeholder="Attribute 3">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-button class="md-raised md-primary" ng-click="newpage.action()" style="margin: 0; padding: 0;">{{newpage.state}}</md-button>
            </div>
            <a ng-click="newpage.creatable = false" style="background-color: #cb2927;">
                <h3>Back to List</h3>
            </a>
        </div>
    </div>
    <div id="right_editor" flex="60" layout="row">
        <div flex="20"></div>
        <div flex="80" layout="column" style="background-color: rgba(82,212,100,0.59);">
            <div flex="initial" style="margin-top: 5px; padding: 5px;" sv-root sv-part="newpage.elements">
                <div flex ng-repeat="item in newpage.elements" sv-element>
                    <div flex class="padded list_item" md-whiteframe="2" ng-click="newpage.edit($index)" layout layout-align="none center" style="padding: 5px; border: dashed 1px; margin-top: 3px;">
                        <div>{{item.name}}</div>
                    </div>
                </div>
            </div>
            <div flex="initial" layout="row" layout-align="end center" style="padding: 5px;">
                <md-button class="md-raised md-primary" ng-click="newpage.send()" style="margin: 0; padding: 0;">Gönder</md-button>
            </div>
        </div>
    </div>
</div>
<div ng-show="!newpage.creatable" flex layout="row" style="height: 100%; padding: 5px; margin-top: 10px;">
    <div flex="40" style="background-color: cornflowerblue; padding: 5px;">
        <h2>Konular </h2>
        <div ng-repeat="subject in newpage.subjects" ng-click="newpage.getSubject($index)" style="height: 20px; margin-top: 3px; background-color: #a4a4a4; border: solid 1px #1f1f1f">
            <div ng-click="newpage.createPage(item)">
                {{subject.title}}
            </div>
        </div>
    </div>
</div>