<div ng-show="!admin.editable" flex layout="row" style="height: 100%; padding: 5px; margin-top: 10px;">
    <div flex="40" style="background-color: cornflowerblue; padding: 5px;">
        <h2>Konular</h2>
        <div ng-repeat="subject in admin.subjects" ng-click="admin.getSubject($index)" style="height: 20px; margin-top: 3px; background-color: #a4a4a4; border: solid 1px #1f1f1f">
            {{subject.title}}
        </div>
    </div>
    <div flex="60" style="background-color: #e2473f; padding: 5px;">
        <h2>Sayfalar</h2>
        <div ng-if="admin.selectedSubject != undefined" style="height: 20px; background-color: #d2d2d2; margin-top: 3px; padding: 2px; border: solid 1px #1f1f1f">
            <div ng-click="admin.newPage()">
                Yeni Sayfa
            </div>
        </div>
        <div ng-repeat="page in admin.pagelist" style="height: 20px; background-color: #d2d2d2; margin-top: 3px; padding: 2px; border: solid 1px #1f1f1f;">
            <div ng-click="admin.editPage($index)">
                {{page}}
            </div>
        </div>
    </div>
</div>
<div ng-show="admin.editable" flex layout="row" style="height: 100%; padding: 5px; margin-top: 10px;">
    <div id="left_editor" flex="40">
        <div flex="initial" style="margin-top: 10px;">
            <md-input-container md-no-float class="md-block">
                <input ng-model="admin.title" placeholder="Sayfa Başlığı">
            </md-input-container>
        </div>
        <div flex="initial" style="padding-left: 2px; padding-right: 2px; margin-top: 10px;">
            <md-input-container class="md-block" style="background-color: #d3d3d3; height: 100%; margin: unset; padding: unset; border-top: 1px solid #a4a4a4">
                <label>Yorum Yaz</label>
                <textarea title="write comment" ng-model="admin.input.body" style="min-height: 140px; max-height: 140px;" rows="5" md-select-on-focus ></textarea>
            </md-input-container>
        </div>
        <div flex="initial" style="margin-top: 20px;">
            <md-input-container>
                <label>Elementi Seç</label>
                <md-select ng-model="admin.input.name" >
                    <md-option ng-repeat="element in admin.element_types" ng-value="element.name" ng-selected="$first">
                        {{element.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="admin.input.attr1" placeholder="Attribute 1">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="admin.input.attr2" placeholder="Attribute 2">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-input-container md-no-float class="md-block">
                    <input ng-model="admin.input.attr3" placeholder="Attribute 3">
                </md-input-container>
            </div>
            <div flex="initial" style="margin-top: 10px;">
                <md-button class="md-raised md-primary" ng-click="admin.action()" style="margin: 0; padding: 0;">{{admin.state}}</md-button>
            </div>

        </div>
        <a ng-click="admin.editable = false" style="background-color: #cb2927;">
            <h3>Back to List</h3>
        </a>
    </div>
    <div id="right_editor" flex="60" layout="row">
        <div flex="20"></div>
        <div flex="80" layout="column" style="background-color: rgba(82,212,100,0.59);">
            <h3>Sayfa başlığı</h3>
            <div flex="initial" style="margin-top: 5px; padding: 5px;" sv-root sv-part="admin.elements">
                <div flex ng-repeat="item in admin.elements" sv-element>
                    <div flex class="padded list_item" md-whiteframe="2" ng-click="admin.editElements($index)" layout layout-align="none center" style="padding: 5px; border: dashed 1px; margin-top: 3px;">
                        <div>{{item.name}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="admin.selectedPage != undefined" flex="initial" layout="row" layout-align="end center" style="padding: 5px;">
                <md-button class="md-raised md-primary" ng-click="admin.update()" style="margin: 0; padding: 0;">Güncelle</md-button>
            </div>
            <div ng-if="admin.selectedPage == undefined" flex="initial" layout="row" layout-align="end center" style="padding: 5px;">
                <md-button class="md-raised md-primary" ng-click="admin.create()" style="margin: 0; padding: 0;">Oluştur</md-button>
            </div>
        </div>
    </div>
</div>

