<div style="height: 100%; margin-top: 10px;" >

    <!--Slider kısmı-->
    <div id="slider_main" hide show-gt-sm style="height: 300px; margin: 10px;" >
        <div ng-controller="SliderController" id="slider_wrapper" style="height: 100%; text-align: center; background-color: coral;">
            <ul rn-carousel rn-carousel-index="0" rn-carousel-auto-slide="3" class="carousel5" style="height: 100%;">
                <li ng-repeat="slide in slides">
                    <img ng-src="{{slide.image_url}}" alt="news 1">
                    <a ng-href="{{slide.link_url}}">
                        <div class="slider_content_wrapper" layout="column" layout-align="center center">
                            <h2>{{slide.title}}</h2>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--Başlık-->
    <page-title title="page_title" style="margin-top: 10px;"></page-title>

    <!--Sayfadaki konular-->
    <thumb-container>
        <thumb attr="content"></thumb>
        <thumb attr="content"></thumb>
        <thumb attr="content"></thumb>
        <thumb attr="content"></thumb>
    </thumb-container>
</div>