<div id="comment_base" flex="noshrink" layout="row">
    <div flex="10" flex-xs="20" layout="column"  style="background-color: #aeff93; ">
        <div flex="initial" layout="row" layout-align="center center" style="margin: 5px;">
            <div flex="initial" style="height: 48px; width: 48px;">
                <img src="img/user.svg" alt="user" style="height: 100%;">
            </div>
        </div>
        <div flex="initial"  style="font-size: 12px; margin-top: 5px;">
            <div flex layout="row" layout-align="center center" style="padding: 2px;">
                <b style="text-align: center;">Said Nuri UYANIK</b>
            </div>
        </div>
    </div>
    <div flex="90" flex-xs="80" style="background-color: #ccc67a; padding: 5px;">
        <div id="comment_section" flex="initial">
            Don't worry; it's free for affected users. The company has not yet confirmed whether the hackers have contacted it for any extortion demand, but since the breach is major, Americans quickly need to take necessary actions to protect themselves and their loved ones. For this, you can head on to our article on How to Protect Yourself after this Security Mishap. Stay tuned for more information, stay safe online.
        </div>
        <div id="comment_tools" layout="row"  layout-align="start center" style="height: 25px; background-color: darkgray;">
            <div flex="initial" style="padding: 1px; margin-left: 10px; margin-right: 10px; font-size: 12px;">
                <b>Reply</b>
            </div>
            <div flex="initial" layout="row" style="padding: 4px; height: 100%; margin-left: 10px; margin-right: 10px; font-size: 12px;">
               <div flex="initial" layout="row"  layout-align="center center">
                   <img src="img/like.svg" alt="" style="height: 100%; width: 20px; ">
               </div>
                <div flex="initial" layout="row"  layout-align="center center">
                    <span style="margin-left: 5px;">12</span>
                </div>
            </div>
            <div flex="initial" layout="row" style="padding: 4px; height: 100%; margin-left: 10px; margin-right: 10px; font-size: 12px;">
                <div flex="initial" layout="row"  layout-align="center center">
                    <img src="img/dislike.svg" alt="" style="height: 100%; width: 20px; ">
                </div>
                <div flex="initial" layout="row"  layout-align="center center">
                    <span style="margin-left: 5px;">12</span>
                </div>
            </div>
        </div>
    </div>
</div>
<md-divider></md-divider>