<div layout-padding flex-gt-md="50" flex="100" style="height: 150px;">
    <div style="height: 100%; ">
        <div layout="column" style="height: 100%;">
            <div flex="30" style="background-color: #444444; color: #fafafa">Başlık</div>
            <div flex-gt-sm="70" flex layout="row">
                <div flex="none" hide show-gt-sm style="width: 100px; background-color: #b8a42c;">resim</div>
                <div flex style="background-color: #fafafa;">içerik içerik içerik</div>
            </div>
        </div>
    </div>
</div>