<div ng-controller="CommentController" id="write_comment" flex="noshrink" layout="row">
    <div flex="10" flex-xs="20" layout="column"  style="background-color: #aeff93; ">
        <div flex="initial" layout="row" layout-align="center center" style="margin: 5px;">
            <div flex="initial" style="height: 48px; width: 48px;">
                <img src="img/user.svg" alt="user" style="height: 100%;">
            </div>
        </div>
        <div flex="initial"  style="font-size: 12px; margin-top: 5px;">
            <div flex layout="row" layout-align="center center" style="padding: 2px;">
                <b style="text-align: center;">Said Nuri UYANIK</b>
            </div>
        </div>
    </div>
    <div flex="90" flex-xs="80" layout="column" style="background-color: #a4a4a4; padding-top: 10px; margin-right: 2px;">
        <div flex="initial" style="padding-left: 2px; padding-right: 2px;">
            <md-input-container class="md-block" style="background-color: #c0ccbe; height: 100%; margin: unset; padding: unset; border-top: 1px solid #a4a4a4">
                <label>Yorum Yaz</label>
                <textarea title="write comment" ng-model="attr.request.data" style="height: 0;" rows="5" md-select-on-focus ></textarea>
            </md-input-container>
        </div>
        <div flex="initial" layout="row" layout-align="end center">
            <div layout="row" layout-align="end center">
                <md-button ng-click="sendMessage(attr.request)" style="height: 36px; margin: unset; padding-right: 10px; min-width: unset; min-height: unset; border-radius:0 ; ">
                    <img src="img/send_comment.png" alt="send comment" style="height: 36px; width: 48px;">
                </md-button>
            </div>
        </div>
    </div>
</div>
<md-divider></md-divider>